.footer{
    /* border: 2px solid black; */
    width: 100%;
    min-height: 50vh;
    position: absolute;
    bottom: 0;
    background: #020139;
    display: flex;
    justify-content: center;
    align-items: center;
} 