.registerPage {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Imgbox {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
  }
  .registerImg{
      width: 80%;
      height: auto;
      object-position: center;
      object-fit: cover;
  }
  
  
  